a {
  color: #fff;
}

.main-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  height: 93vh;
}

.main-card-container {
  background: #fff1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 40vw;
  height: 30vh;
  justify-content: center;
  align-items: center;
}

.main-card-container button,
.main-card-container a {
  width: 70%;
  height: 50px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

.main-card-container a {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-card-container button:hover,
.main-card-container a:hover {
  background-color: #412279;
  transition: 0.5s all ease-in-out;
  border: 2px solid #673ab7;
}
